<section class="usercontainer">

  <form action="/auth/login" method="POST" id="form-container">
  <h2>Iniciar sesión</h2>
    <label for="username">Email</label>
    <input id="username" type="text" name="username" placeholder="Introduce tu email...">
    <label for="password">Contraseña</label>
    <input id="password" type="password" name="password" placeholder="Introduce tu contraseña...">
    {{#if message }}
      <div class="error-message">{{ message }}</div>
    {{/if}}
  <button class="greenbutton">Inciar sesión</button>

  <p class="account-message">
    ¿Aún no tienes una cuenta?
    <a href="/auth/signup">Crear cuenta</a>
  </p>
  </form>
</section>