<section class="usercontain">
  <form action="/auth/newUser" method="POST" id="" enctype="multipart/form-data">
    <h1>INTRODUCE LOS DETALLES DE TU CUENTA</h1>
    <div class="tot">
      <div class="left">
        <div class="name">
          <div class="izq">
            <label for="name">Nombre</label>
          </div>
          <div>
            <input id="name" type="text" name="name" placeholder="Insert your name" class="text">
          </div>
        </div>

        <div class="idioma">
          <div class="izq">
            <label for="">Idioma</label>
          </div>
          <div class="tr">
            <ul class="ul">
              <li ><input type="checkbox" id="español" name="español" value="español">Español</li>
              <li><input type="checkbox" id="ingles" name="ingles" value="inglés">Ingles </li>
              <li><input type="checkbox" id="frances" name="frances" value="francés">Frances</li>
              <li> <input type="checkbox" id="aleman" name="aleman" value="alemán">Aleman</li>
              <li><input type="checkbox" id="portugues" name="portugues" value="portugués">Portugues</li>
              <li><input type="checkbox" id="italiano" name="italiano" value="italiano">Italiano</li>
              <li><input type="checkbox" id="otros" name="otros" value="otros">Otros</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="photo">
          <label>Foto</label>
          <img src="/images/default.png" alt="default">
          <img src="{{user.imgPath}}" alt="{{user.name}}">
          <input type="file" name="photo">
        </div>
        <div class="descripcion">
          <label for="descripcion">Descripcion</label>
          <textarea name="descripcion" for="descripcion" id="" cols="60" rows="6"
            placeholder="Escribe algo sobre ti en ..." maxlength="300"></textarea>
        </div>

      </div>
    </div>
    <a href="/offer/home.hbs" class="greenbutton">Crear perfil</a>
    {{#if message }}
    <div class="error-message">{{ message }}</div>
    {{/if}}

  </form>
</section>