
<section class="usercontainer">
  

  <form action="/auth/signup" method="POST" id="form-container">
  <h2>Crea tu cuenta en unos segundos</h2>
    <label for="username">Email</label>
    <input id="username" type="email" name="username" placeholder="Introduce tu email...">
    <label for="password">Password</label>
    <input id="password" type="password" name="password" placeholder="Introduce tu contraseña...">
     {{#if message }}
    <div class="error-message">{{ message }}</div>
    {{/if}}

     {{!-- <a href="/auth/login">Inciar sesión</a> --}}
    <button class="greenbutton">Crear</button>

    <p class="account-message">
    ¿Ya tienes una cuenta?
    <a href="/auth/login">Inciar sesión</a>
    </p>
  </form>
</section>
