<section class="usercontain">
  <form action="/auth/signup" method="POST" id="form-container" enctype="multipart/form-data">
    <div class="tittle"> 
    <h2>Crea tu cuenta en unos segundos</h2>
    </div>
    <div class="form">
      <div class="left">
        <div class="text">
          <label for="username">Email</label>
          <input id="username" type="email" name="username" placeholder="Introduce tu email..." class="text">
        </div>
        <div class="text">
          <label for="password">Contraseña</label>
          <input id="password" type="password" name="password" placeholder="Introduce tu contraseña..." class="text">
        </div>
        <div class="text">
          <label for="name">Nombre</label>
          <input id="name" type="text" name="name" placeholder="Insert your name" class="text">
        </div>
        <div class="languages">
          <label for="">Idioma</label>
          <ul class="ul">
            <li><input type="checkbox" id="español" name="languages" value="español">Español</li>
            <li><input type="checkbox" id="ingles" name="languages" value="inglés">Inglés </li>
            <li><input type="checkbox" id="frances" name="languages" value="francés">Francés</li>
            <li><input type="checkbox" id="aleman" name="languages" value="alemán">Alemán</li>
            <li><input type="checkbox" id="portugues" name="languages" value="portugués">Portugués</li>
            <li><input type="checkbox" id="italiano" name="languages" value="italiano">Italiano</li>
            <li><input type="checkbox" id="otros" name="languages" value="otros">Otros</li>
          </ul>
        </div>
      </div>
      <div class="right">
          <label for="description">Descripción</label>
          <textarea name="description" for="description" id="" cols="40" rows="6"
            placeholder="Escribe algo sobre ti en ..." maxlength="300"></textarea>
      </div>
    </div>
    <button class="greenbutton">Crear</button>
    {{#if message }}
    <div class="error-message">{{ message }}</div>
    {{/if}}
    <p class="account-message">
      ¿Ya tienes una cuenta?
      <a href="/auth/login">Inciar sesión</a>
    </p>
  </form>
</section>