<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <nav class="layoutNav">
    <a class="shortLogo" href="/offer/all">Home<span>4</span>Job</a>

    <a href="/auth/login">Login</a>
    <a href="/auth/signup">Signup</a>
    <a href="/user/{{user.id}}">Perfil</a>
    <a href="/auth/logout">Logout</a>
  </nav>
  {{{body}}}
  <footer class="footer">
    <p>Realizado con ❤️ en IronHack ;)</p>
  </footer>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places&key=AIzaSyCIKcutXqBanOM_6wsHLBL51dbYcnCa03I"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/newOffer.js"></script>
  <script src="/javascripts/offerDetails.js"></script>
  <script src="/javascripts/script.js"></script>
</body>
</html>
