<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <nav class="layoutNav">
    <a class="shortLogo" href="/offer/all">Home<span>4</span>Job</a>
    <div class="filters">
    <label for="cities">Ciudad</label>
      <select name="city" class="citySelector" value="">
        <option value="all">Todas</option>
        <option value="Madrid">Madrid</option>
        <option value="Barcelona">Barcelona</option>
        <option value="Valencia">Valencia</option>
        <option value="Sevilla">Sevilla</option>
        <option value="Bilbao">Bilbao</option>
        <option value="Zamora">Zamora</option>
      </select>
      <label for="jobs">Trabajos</label>
      <select name="job" class="jobSelector" value="">
        <option value="all">Todas</option>
        <option value="Jardineria">Jardinería</option>
        <option value="Limpieza">Limpeza</option>
        <option value="Reparacion">Reparación</option>
        <option value="Cuidador">Cuidador</option>
      </select>
    <button id="navFilter" class="greenbutton" onclick="filterOffers()">Filtrar</button>  
    </div>
    <a href="/auth/login">Login</a>
    <a href="/auth/signup">Signup</a>
    <a href="/auth/logout">Logout</a>
  </nav>
  {{{body}}}
  <footer class="footer">
    <p>Realizado con ❤️ en IronHack ;)</p>
  </footer>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAw3SoJoThRGXGkcLRYqKTxCwZ6_dWxaJQ&callback=initMap"
    async defer></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/newOffer.js"></script>
  <script src="/javascripts/offerDetails.js"></script>
  <script src="/javascripts/script.js"></script>
</body>
</html>
