@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic:800&display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: 'Nanum Gothic', sans-serif; }

.landingNav {
  width: 100%;
  height: 5rem;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: auto, 4rem;
  background-color: #3D8785;
  opacity: 0.2;
  transition: all .4s;
  border-bottom: 1px solid black;
  -webkit-box-shadow: 0px 10px 16px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 16px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 16px -5px rgba(0, 0, 0, 0.75);
  z-index: 10; }
  .landingNav:hover {
    opacity: 0.9; }
  .landingNav a {
    font-size: 1.3rem;
    margin: 3rem;
    color: #ffffff; }

a {
  color: #00B7FF;
  text-decoration: none; }

.greenbutton {
  background-color: #3D8785;
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 700;
  width: 50%;
  text-align: center;
  border-radius: 20px;
  border: 1px solid black;
  padding: 1rem;
  transition: all .7s; }
  .greenbutton:hover {
    background-color: #0c1b1b;
    cursor: pointer; }

.landingContainer {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .landingContainer form {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 5rem;
    padding: 2rem;
    background-color: white;
    opacity: .9;
    border-radius: 20px;
    border: 0.5px solid black;
    -webkit-box-shadow: 0px 10px 16px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 16px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 16px -5px rgba(0, 0, 0, 0.75); }
    .landingContainer form .citySelector {
      display: flex;
      justify-content: space-between; }
      .landingContainer form .citySelector select {
        width: 50%;
        font-size: 1rem;
        margin-bottom: 1rem; }
    .landingContainer form .dates {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
      width: 100%; }
      .landingContainer form .dates input {
        font-size: 1rem; }
    .landingContainer form .jobToDo {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem; }
      .landingContainer form .jobToDo select {
        width: 50%;
        font-size: 1rem; }
  .landingContainer .info {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 5rem;
    padding: 2rem;
    background-color: white;
    opacity: .9;
    border-radius: 20px;
    border: 0.5px solid black;
    -webkit-box-shadow: 0px 10px 16px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 16px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 16px -5px rgba(0, 0, 0, 0.75); }

.footer {
  background-color: #0c1b1b;
  color: #ffffff;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.layoutNav {
  width: 100%;
  height: 5rem;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: auto, 4rem;
  background-color: #ffffff;
  opacity: 0.7;
  transition: all .4s;
  border-bottom: 1px solid black;
  -webkit-box-shadow: 0px 10px 16px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 16px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 16px -5px rgba(0, 0, 0, 0.75); }
  .layoutNav:hover {
    opacity: 1; }
  .layoutNav a {
    font-size: 1.3rem;
    margin: 3rem;
    color: #3D8785; }

.usercontainer {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .usercontainer form {
    background-color: #ffffff;
    width: 40%;
    border-radius: 20px;
    border: 1px solid black;
    padding: 3rem;
    -webkit-box-shadow: 0px 10px 16px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 16px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 16px -5px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.3rem; }
    .usercontainer form input {
      font-size: 1rem;
      padding: 0.5rem;
      margin: 0.5rem;
      border-radius: 10px; }

/*# sourceMappingURL=style.css.map */