// primary color: #3D8785
// primary dark : #0c1b1b
// primary light: #6abcba

@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:800&display=swap');

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Nanum Gothic', sans-serif;
}
.landingNav {
  width: 100%;
  height: 5rem;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: auto, 4rem;
  background-color: #3D8785;
  opacity: 0.2;
  transition: all .4s;
  border-bottom: 1px solid black;
  -webkit-box-shadow: 0px 10px 16px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 16px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 16px -5px rgba(0,0,0,0.75);
  z-index: 10;
    &:hover{
      opacity: 0.9;
  }

  a {
    font-size: 1.3rem;
    margin: 3rem;
    color: #ffffff;
  }
}

a {
  color: #00B7FF;
  text-decoration: none;
}

.greenbutton {
  background-color: #3D8785;
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 700;
  width: 50%;
  text-align: center;
  border-radius: 20px;
  border: 1px solid black;
  padding: 1rem;
  transition: all .7s;

  &:hover {
    background-color: #0c1b1b;
    cursor:pointer;
  }
}

.landingContainer{
  background-image: url(../images/bg.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  form {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 5rem;
    padding: 2rem;
    background-color: white;
    opacity: .9;
    border-radius: 20px;
    border: 0.5px solid black;
    -webkit-box-shadow: 0px 10px 16px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 16px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 16px -5px rgba(0,0,0,0.75);

    .citySelector {
      display: flex;
      justify-content: space-between;
      
      select {
        width: 50%;
        font-size: 1rem;
        margin-bottom: 1rem;
      }
    }
    .dates {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
      width: 100%;

      input {
        font-size: 1rem;
      }
    }
    .jobToDo {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;

      select {
        width: 50%;
        font-size: 1rem;
      }
    }
  }
  .info {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 5rem;
    padding: 2rem;
    background-color: white;
    opacity: .9;
    border-radius: 20px;
    border: 0.5px solid black;
    -webkit-box-shadow: 0px 10px 16px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 16px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 16px -5px rgba(0,0,0,0.75);
  }
}

.footer {
  background-color: #0c1b1b;
  color: #ffffff;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layoutNav {
  width: 100%;
  height: 5rem;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: auto, 4rem;
  background-color: #ffffff;
  border-bottom: 1px solid black;
  -webkit-box-shadow: 0px 10px 16px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 16px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 16px -5px rgba(0,0,0,0.75);
    &:hover{
      opacity: 1;
  }

  a {
    font-size: 1.3rem;
    margin: 3rem;
    color: #3D8785;
  }
}

.usercontainer {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  form {
    background-color: #ffffff;
    width: 40%;
    border-radius: 20px;
    border: 1px solid black;
    padding: 3rem;
    -webkit-box-shadow: 0px 10px 16px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 16px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 16px -5px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.3rem;

    input {
      font-size: 1rem;
      padding: 0.5rem;
      margin: 0.5rem;
      border-radius: 10px;
    }

  }
}

.home {
  display: flex;
}

.foundOffers {
  background-color: #3D8785;
  width: 25%;
  padding: 5rem 0 5rem 0;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid black;

  .newOfferLink {
    background-color: #0c1b1b;
    width: 100%;
    color: #ffffff;
    padding: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ffffff;
  }
}

.offerCard {
  background-color: #6abcba;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 15px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 10px 16px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 16px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 16px -5px rgba(0,0,0,0.75);

  &:hover {
    cursor:pointer;
  }


  img {
    border-radius: 15px;
    border: 1px solid black
  }
}

.offerDetails {
  width: 75%;
  padding: 7rem 2rem 5rem 2rem;
  
}
.usercontain {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  form {
    background-color: #ffffff;
    width: 80%;
    border-radius: 20px;
    border: 1px solid black;
    // padding: 2rem;
    margin-top: 3rem;
    -webkit-box-shadow: 0px 10px 16px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 16px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 16px -5px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 1.3rem;
    height: 80%;

    .greenbutton{
      width: 20%;
      margin-bottom:10px ;
    }
    div{
      font-size: 2rem;
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      height: 80%;
      .left{
        display: flex;
        flex-direction: column;
        height: 80%;
        width: 50%;
        justify-content: space-around;
        .izq{
          width: 40%;
  
        }
        .idioma{
          font-size: 1rem;
          height: 50%;
          display: flex;
          justify-content: space-between;
          align-items: center;
  
         .tr{
           flex-direction: column;
           font-size: 1rem;
           width: 55%;
           height: 45%;
           border: solid grey 1px;
           margin-left: 75px;
           margin-right: 75px;
           padding: 10px 50px ;
           list-style: none;
           .ul{
            justify-content: space-between;
            align-items: center;
            display: flex;
            list-style: none;
            flex-wrap: wrap;
            width: 100%;
            height: 100%;
            border: 1px solid red
          }
    
         }
  
          
        }
        .name{
          height: 50%;
          flex-direction: row;
          justify-content: space-around;
          .text{
            width: 80%;
            height: 20%;
            font-size: 1rem;
            padding: 0.5rem;
            margin: 0.5rem;
            border-radius: 10px;
          }
        }
      }
  
      .right{
        display: flex;
        flex-direction: column;
        height: 80%;
        width: 50%;
        justify-content: space-between;
  
        .descripcion{
          flex-direction: column;
          height: 60%;
          textarea{
            font-size: 1rem;
          }
        }
        .photo{
          display: flex;
          flex-direction: column;
          width: 30%;
          justify-content:space-between;
          align-items: center;
          height: 60%;
          img{
            width: 60%;
            height: 60%;
          }
        }
      }
    }
  }
  
}