<section class="usercontainer"> 
  <form class="contact" action="/offer/contact" method="POST">
    <label for="">{{user.name}}, no lo dudes y contacta con el anfitrión</label>
    <textarea type="text" name="message" id="" rows="6" cols="30" maxlength="300" class="textito" placeholder="Escribe aquí.."></textarea>
    <div class="linksContainer">
      <button type="submit" class="greenbutton">Enviar</button>
      <a class="greenbutton" href="/offer/all">Volver</a>
    </div>
  </form>
</section>

