<section class="usercontainer"> 
<form action="/offer/contact" method="POST">
  <label for="">Message</label>
  <textarea type="text" name="message" id="" rows="6" cols="30" maxlength="300" class="textito"></textarea>
  <button type="submit" class="greenbutton">Submit</button>
  <a href="/offer/all">back</a>
</form>
<input type="hidden">
</section>

