<section class="usercontain">
  <form action="/newoffer/gallery/{{_id}}" method="POST">
    <div class="photo">
      <label>Añade una fotografía de la vivienda</label>
      <input class=""type="file" name="photo">
      <button class="greenbutton" type="submit">Guardar</button>
    </div>
  </form>
</section>