<section class="home">
<div class="aside">
  <a class="newOfferLink"href="/offer/newoffer">Publicar una nueva oferta +</a>
    <a href="/user">user</a>
  <div class="foundOffers">
    {{#each allOffers}}
    <div class="offerCard">
      <h3>{{city}}<span>    ({{job}})</span></h3>
      <img src="{{photo}}" alt="offerPhoto">
        <form action="" class="offerdetailsSelector">
          <input type="hidden" class="id" value="{{_id}}">
        </form>
    </div>
    {{/each}}
  </div>
</div>
<div class="offerDetails">
  <h1>Selecciona una de nuestras ofertas para comenzar tu viaje</h1>
</div>
</section>