<section class="usercontain">
  <form action="/auth/newUser" method="POST" id="" enctype="multipart/form-data">
  <h1>INTRODUCE LOS DETALLES DE TU LA NUEVA OFERTA</h1>
    <label for="city">¿En qué ciudad quieres publicar la oferta?</label>
    <select name="city" class="citySelector" value="">
      <option value="Madrid">Madrid</option>
      <option value="Barcelona">Barcelona</option>
      <option value="Valencia">Valencia</option>
      <option value="Sevilla">Sevilla</option>
      <option value="Bilbao">Bilbao</option>
      <option value="Zamora">Zamora</option>
    </select>
    <label for="job">¿Qué tipo de trabajo solicitas?</label>
    <select name="job" class="jobSelector" value="">
      <option value="Jardineria">Jardinería</option>
      <option value="Limpieza">Limpeza</option>
      <option value="Reparacion">Reparación</option>
      <option value="Cuidador">Cuidador</option>
    </select>
    <label for="addres">Introduce la dirección de la vivienda</label>
    <input type="text">
    <div class="photo">
      <label>Galería</label>
      <img src="/images/default.png" alt="default">
      <img src="{{user.imgPath}}" alt="{{user.name}}">
      <input type="file" name="photo">
    </div>
    <button type="submit"></button>
  </form>
</section>



