<section class="usercontain">
  <form enctype="multipart/form-data">
    <div class="tittle"> 
    <h1>Introduce los detalles de la oferta</h1>
    </div>
    <div class="form">
      <div class="left">
        <div class="newOfferInput">
          <label for="city">¿En qué ciudad quieres publicar la oferta?</label>
          <select name="city" class="citySelector" value="">
            <option value="Madrid">Madrid</option>
            <option value="Barcelona">Barcelona</option>
            <option value="Valencia">Valencia</option>
            <option value="Sevilla">Sevilla</option>
            <option value="Bilbao">Bilbao</option>
            <option value="Zamora">Zamora</option>
          </select>
        </div>
        <div class="newOfferInput">
          <label for="job">¿Qué tipo de trabajo necesitas que realice tu huésped?</label>
          <select name="job" class="jobSelector" value="">
            <option value="Jardineria">Jardinería</option>
            <option value="Limpieza">Limpeza</option>
            <option value="Reparacion">Reparación</option>
            <option value="Cuidador">Cuidador</option>
          </select>
        </div>
        <div class="newOfferInput">
          <label for="addres">Introduce la dirección de la vivienda</label>
          <input id="pac-input" class="controls" type="text"/>
        </div>  
      </div>
      <div class="right">      
        <div id=map-canvas></div>
      </div>
    </div>
    <div class="photo">     
      <label>Añade una fotografía de la vivienda</label>
      <input class="photoed" type="file" name="photo" id="file-id">
    </div>    
    <a class="greenbutton submit" href="/offer/all">Siguiente</a>
  </form>
   
   
 
</section>



